main {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #1a253a;
    background-image: url(../img/godwin.jpg), url(../img/backgr.jpg);
    background-size: 70vh, cover;
    background-repeat: no-repeat;
    background-position: bottom left calc(50% + 80px), center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    column-gap: 220px;

}

main .main-intro h1 {
    font-size: 3.6rem;
    line-height: 1.1rem;
    margin-bottom: 20px;
}



main p {
    font-size: 2.8rem;
    line-height: 1.7rem;
    max-width: 400px;
}

main a {
    margin-top: 30px;
    font-size: 1.8rem;
    height: 36px;
    line-height: 36px;
    display: block;
    background-color: var(--site-color-01);
    padding: 0 20px;
    width: fit-content;
}

main a:hover {

    background-color: var(--site-color-01-hover);
}

main .main-quotes p {
    border-left: 4px solid var(--site-color-01);
    padding-left: 20px;
    margin: 40px 0;
}

main .main-quotes p:nth-child(2) {}

main .main-intro {

    padding-top: 8vh;
}

main .main-quotes {

    padding-top: 8vh;
}

/* CATEGORY SECTION*/
.index-category {
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.index-category p {
    color: #111;
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 2.2rem;

}

.index-category-box {
    width: 20rem;
    height: 20rem;
    background-color: #111;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index-category-box:nth-child(2) {
    background-image: url(../img/category/webdevelopment.jpg);
}

.index-category-box:nth-child(3) {
    background-image: url(../img/category/filming.jpg);
}

.index-category-box:nth-child(4) {
    background-image: url(../img/category/editing.jpg);
}

.index-category-box:nth-child(5) {
    background-image: url(../img/category/photo.jpg);
}

/*overlay is to change from one color to other*/
.dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1a253a;
    opacity: 0.5;
    transition: all ease-in-out 200ms;
}

.index-category-box:hover .dark-overlay {
    opacity: 0;
}


.index-category-box h3 {
    font-size: 2.2rem;
    line-height: 1.5;
    text-align: center;
    /* to align the text */
    text-shadow: -2px 2px 4px #000;
    z-index: 1000;
}

/*About Me*/

.index-about {
    width: 100%;
    padding: 60px 0;
    background-color: #1a253a;

}

.index-about-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}



.index-about-img img {
    width: 350px;
    height: 300px;
    border-radius: 400px;
}

.index-about-text {
    flex-basis: 455px;
}

.index-about-text p {
    padding: 15px 0;
}

.index-about-text a {

    font-size: 1.8re;
    height: 36px;
    line-height: 36px;
    display: block;
    background-color: var(--site-color-01);
    padding: 0 20px;
    width: fit-content;
}

.index-about-text a:hover {

    background-color: var(--site-color-01-hover);
}

.index-about-skill {
    flex-basis: 350px;
}

.index-about-skill-bar {
    width: 100%;
    height: 20px;
    border: 4px solid #0B0F16;
}

.index-about-skill-fill {
    height: 100%;
    background-color: var(--site-color-01);
}

/* scaling */
.htmlcss {
    width: 95%;
}

.js {
    width: 80%;
}

.pr {
    width: 70%;
}

.ae {
    width: 60%;
}

.ps {
    width: 95%;
}

.ai {
    width: 85%;
}



/* Mobile Version */

@media only screen and (max-width: 600px) {

    main {

        align-items: flex-end;
         z-index: 100;
    }

    main .main-intro {
        padding-bottom: 8vh;
    }

    main .main-intro h1 {
        font-size: 2rem;
        line-height: 1.25rem;
        text-align: center;
    }

    

    main p {
        text-align: center;
        padding: 0 10px;
        font-size: 2.6rem;
        line-height: 1.75rem;
    }


    main a {
        margin: 30px auto;

    }

    main .main-quotes {

        display: none;
    }

    /* category mobile version*/
    .index-category {

        padding: 40px 0 20px;
        row-gap: 10px;

    }

    .index-category p {

        padding-bottom: 20px;
    }

    .index-category-box {
        width: 90%;
        height: 160px;
    }

    /*About Me*/



    .index-about-flex {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .index-about-img  {
        width: 50%;
       
    }

    .index-about-img img {
        width: 60%;
        height: 40%;
        border-radius: 100%;
     
    }
    .index-about-text {
        flex-basis: 100%;
    }

    .index-about-text h2 {
       text-align: center;
    }

    .index-about-text p {
        text-align: center;
    }

    .index-about-text a {

       margin: 0 auto 10px;
    }

   

}
